.container {
  font-family: "Roboto", sans-serif;
  background-color: #d1e1e3;
}

h1,
form {
  margin: 10px;
}

h1 {
  font-size: 36px;
}

.selected-location {
  font-size: 24px;
}

.current-date {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}

.future-date {
  font-size: 20px;
  font-weight: 600;
  color: #616262;
}

.future-icon {
  display: block;
  margin: 10px auto 0px auto;
}
